*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    text-transform: uppercase;
}

.main-container{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.card{
    width:calc((100% / 3) - 5px);
    padding: 10px;
    display: inline-block;
}

.card-img img{
    width: 100%;
}

.card-img .back-img{
    display: none;
}

.card-img:hover .front-img{
    display: none;
}

.card-img:hover .back-img{
    display: inline-block;
}

.heart{
    top:10px; 
    right: 0px;
    padding: 10px;
    font-size: 30px;
    background-color: white;
}

.card-tag{
    bottom: 20px;
}

.card-tag span{
    font-weight: bold;
    display: inline-block;
    color: white;
    padding: 5px;
}

.card-discount{
    background-color: red;
}

.card-description{
    background-color: green;
}

.card-promo{
    text-align: left;
}

.price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}