*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
 
.inline{
    display: inline-block;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}


.size-row{
    width: 70%;
    margin: 30px auto;
}

.center{
    text-align: center;
}

.card-size{
    width: 400px;
    height: 600px; 
    padding-right: 20px;
} 

.foto-effect{
    display: none;
}

.card:hover .foto{
    display: none;
} 

.card:hover .foto-effect{
    display: inline-block; 
} 

.description{
    text-align: left;
}

.discount{ 
    left: 0;
    color: whitesmoke;
    background-color: red ;
    bottom: 70px;
    padding: 5px;
} 

.sostenibilita1{  
    color: whitesmoke;
    background-color: green;
    padding: 5px;
    bottom: 70px;
    left: 60px;
} 

.sostenibilita2{
    left: 0;
    color: white;
    background-color: green;
    padding: 5px;
    bottom: 70px;
}

.bold{
    font-weight: bolder;
}

.hearts{ 
    font-size: 2em;
    background-color: white;
    right: 10px;
    top: 20px;
    padding: 20px;
}

.color-red{
    color: red; 
} 

.original-price{
    text-decoration: line-through;
}